

<section class="hero-bit">
    <div class="hero-bg-container">
        <%= image_tag "presson", class: "hero-bg-img" %>
        <div class="gradient"></div>
        <div class="hero-overlay">
            <div class="hero-text-group">
                <h1 class="hero-text">The nails you want, without the salon.</h1>
                <p class="hero-text">Handmade Press-On nails you can be <i>proud of.</i></p>
            </div>
            <a class="w-fit py-3 px-7 rounded-full text-body-sm font-sans-md tracking-wider leading-none uppercase whitespace-nowrap transition-colors duration-200 hero-btn text-white hover:bg-red false false ">What's Hot</a>
        </div>  
    </div>
    
</section>

